<!DOCTYPE html>
<html>
<head>
    <title>Smart Resume Analyzer</title>
</head>

<body style="text-align:center; font-family:Arial; margin-top:50px;">

    <h1>Smart Resume Analyzer AI</h1>

    <form method="POST">
        <textarea name="resume" rows="10" cols="50" placeholder="Paste your resume here"></textarea>
        <br><br>
        <button type="submit">Analyze</button>
    </form>

    <h2>Score: {{ score }}%</h2>

    <h3>Detected Skills:</h3>
    <ul>
        {% for skill in skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>

    <h3>Missing Skills:</h3>
    <ul>
        {% for skill in missing %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>

</body>
</html>